.service-section {
  background-color: #171717;
  /* height: 110vh; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../../assets/Images/bg-highlight.png");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  border-radius: 40px;
  padding-bottom: 60px;

  .s-heading {
    .paragraph {
      width: 45%;
    }
  }
  /* 
  .services {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 100px;
  } */

  .service-card {
    height: 400px;
    width: 100%;
    cursor: pointer;
    background-color: #ffffff13;
    backdrop-filter: blur(15px);
    border-radius: 30px;
    border: 2px solid #ffffff2b;
    overflow: hidden;

    .service-title {
      height: 25%;
    }

    h3 {
      color: #fff;
      border-bottom: 2px solid #ffffff2b;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .image {
      height: 75%;
      width: 100%;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        border-radius: 5px 5px 30px 30px;
        object-fit: cover;
      }

      .img-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000c8;
        color: #fff;
        font-size: 20px;
        line-height: 27.5px;
        font-weight: 500;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.6s ease;
        
      }
    }

    /* ✅ THIS IS THE FIX */
    &:hover {
      .img-content {
        opacity: 1;
        transform: translateY(0%);
      }
    }
  }
}
