.hero-section {
  height: 90vh;
  overflow: hidden;
  .hero-heading {
    text-align: center;
    width: 70%;
    margin: 20px auto;
    > h1 {
      font-size: 60px;
      font-weight: 600;
      line-height: 64px;
      margin-top: 15px;
      > span {
        color: #f57920;
      }
    }
    > span {
      padding: 6px 20px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.1px;
      border: 1px solid #444;
      user-select: none;
    }
  }
  .introduction {
    display: flex;
    justify-content: space-between;
    color: #333;
    > div {
      width: 250px;
      p {
        font-size: 18px;
      }
      h3 {
        font-size: 35px;
        font-weight: 600;
      }
    }
    > section {
      flex: 1;
      transform: translateY(0%);
    }

    .hero-image {
      width: 70%;
      /* height: 400px; */
      margin: auto;
      transform: translateY(20%);
      background-color: #feb273;
      border-radius: 50%;
      img {
        width: 80%;
        transform: translateY(-25%);
      }
    }
  }
}
