.my-navbar {
  height: 70px;
  width: 100%;
  padding: 10px;
  background-color: #171717;
  border-radius: 50px;
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
    .nav-link {
      padding: 10px;
      height: 100%;
      display: grid;
      place-items: center;
      width: 130px;
      border-radius: 50px;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      transition: all 0.4s;
    }
    .nav-link:hover {
      background-color: #313131;
      font-weight: 600;
    }
    .nav-link.active {
      background-color: #f57920;
      font-weight: 600;
    }
  }

  .nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    user-select: none;
    > div {
      width: 46px;
      height: 46px;
      background-color: #f57920;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }
}

/* ===================== */
/* HAMBURGER ICON */
/* ===================== */

.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* ===================== */
/* MOBILE MENU */
/* ===================== */

.mobile-menu {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #171717;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;

  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.4s ease;
}

.mobile-menu a {
  padding: 12px;
  border-radius: 30px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.mobile-menu a:hover {
  background-color: #313131;
}

/* OPEN STATE */
.mobile-menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ===================== */
/* RESPONSIVE BREAKPOINT */
/* ===================== */

@media (max-width: 992px) {
  .mobile-hide {
    display: none !important;
  }

  .hamburger {
    display: block;
  }

  /* .my-navbar {
    position: relative;
    padding: 10px 20px;
  } */
  .my-navbar {
    position: fixed; /* make it fixed */
    top: 20px; /* stick to top */
    left: 5%;
    width: 90%;
    z-index: 1000; /* stay above everything */
    padding: 10px 20px;
  }
}
