.footer {
  background-color: #fcf1e6;
  .footer-container {
    background-color: #272727;
    border-radius: 40px 40px 0 0;
  }

  .nav-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    user-select: none;
    > div {
      width: 46px;
      height: 46px;
      background-color: #f57920;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }

  .footer-links {
    h5 {
      color: #f57920;
    }
    a {
      color: #fff;
      text-decoration: none;
      b {
        color: #f57920;
      }
      &:hover {
        color: #f57920;
      }
    }

    .social-icons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .social-icon {
      width: 45px;
      height: 45px;
      background-color: transparent;
      color: #fcf1e6;
      font-size: 20px;
      border: 2px dotted #fcf1e6;
      border-radius: 50px;
      display: grid;
      place-items: center;
      transition: all 0.3s;

      svg {
        transition: all 0.3s;
      }

      &:hover {
        background-color: #f57920;
        color: #fff;
        border-color: #f57920;
      }
      &:hover svg {
        transform: scale(1.3) rotate(20deg);
      }
    }
  }

  .owner{
    color: #f57920;
  }
}

.bg-dark-footer{
  background-color: #111;
}