.my-brand {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  text-decoration: none;
}

:root {
  --primary-color-rgb: 255, 184, 0;
}

.circle-ripple {
  background-color: var(--primary-color);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: ripple 2s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-color-rgb), 0.3), 
      0 0 0 0.8em rgba(var(--primary-color-rgb), 0.3),
      0 0 0 1em rgba(var(--primary-color-rgb), 0.3);
  }
  100% {
    box-shadow: 0 0 0 0.2em rgba(var(--primary-color-rgb), 0.3),  
      0 0 0 1.2em rgba(var(--primary-color-rgb), 0);
  }
}
